.chart-title {
    font-size: 12px;
    font-weight: bold;
}

.x-axis-text {
    transform-origin: 0 0;
    transform: rotate(-90deg);
}

text.-axis-label {
    font-size: 12px;
}

text.y-axis-label {
    font-size: 10px;
}

text.legend-text {
    font-size: 10px;
}

body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.display-container {
    width: 50vw;
    height: 50vh;
    float: left;
}