.chart-title {
    font-size: 14px;
    font-weight: bold;
}

.x-axis-text {
    transform-origin: 0 0;
    transform: rotate(-90deg);
}

text.x-axis-label {
    font-size: 12px;
}

text.y-axis-label {
    font-size: 12px;
}

text.biplot-label {
    font-size: 12px;
    fill: black;
  }

text.pca-label {
    font-size: 20px;
    fill: red;
}

path.pca-arrow {
    stroke: red;
}  

path.projected-arrow {
    stroke: black;
}  

body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.display-container {
    width: 50vw;
    height: 50vh;
    float: left;
}